# Python bytecode files
__pycache__/
*.pyc
*.pyo

# IDE/Editor Files
.vscode/
.idea/

# Environment files
.env
*.env

# Virtualenv
venv/
env/
ENV/

# Log files
*.log

# Datenbankdateien
*.sqlite3

# Temporary files
*.swp
*.bak

# Streamlit config file
.streamlit/

# Heroku specific files (wenn du Heroku verwendest)
*.heroku/

